# AirView

## plot air voltage signals from a CSV file

In [11]:
import pandas as pd
import numpy as np
from bokeh.plotting import figure, output_file, show

In [15]:
csv_file_name = '2017-05-08 AirView.csv'
df = pd.read_csv(csv_file_name, names=['Date and Time', 'Air Voltage(mV)'])
df

                                  Date  Time  Air Voltage(mV)
0      2017-05-07 23:17:28 3742.359375   NaN              NaN
1     2017-05-07 23:17:53 3743.2578125   NaN              NaN
2     2017-05-07 23:18:19 3743.1796875   NaN              NaN
3       2017-05-07 23:18:45 3742.59375   NaN              NaN
4           2017-05-07 23:19:10 3741.5   NaN              NaN
5        2017-05-07 23:19:36 3743.0625   NaN              NaN
6      2017-05-07 23:20:02 3743.140625   NaN              NaN
7      2017-05-07 23:20:27 3742.984375   NaN              NaN
8     2017-05-07 23:20:53 3742.4765625   NaN              NaN
9     2017-05-07 23:21:18 3742.7890625   NaN              NaN
10     2017-05-07 23:21:44 3742.359375   NaN              NaN
11    2017-05-07 23:23:06 3743.2578125   NaN              NaN
12    2017-05-07 23:23:31 3743.4921875   NaN              NaN
13    2017-05-07 23:23:57 3743.1015625   NaN              NaN
14    2017-05-07 23:24:23 3742.0859375   NaN              NaN
15    2017-05-07 23:24:48 3743.7265625   NaN              NaN
16    2017-05-07 23:25:14 3743.4921875   NaN              NaN
17         2017-05-07 23:25:40 3742.75   NaN              NaN
18      2017-05-07 23:26:05 3742.28125   NaN              NaN
19     2017-05-07 23:26:31 3742.984375   NaN              NaN
20    2017-05-07 23:26:57 3743.5703125   NaN              NaN
21    2017-05-07 23:27:22 3743.4140625   NaN              NaN
22    2017-05-07 23:27:48 3742.7890625   NaN              NaN
23    2017-05-07 23:28:14 3742.7109375   NaN              NaN
24    2017-05-07 23:28:39 3742.7890625   NaN              NaN
25     2017-05-07 23:29:05 3742.984375   NaN              NaN
26    2017-05-07 23:29:31 3742.7890625   NaN              NaN
27    2017-05-07 23:29:56 3741.8515625   NaN              NaN
28      2017-05-07 23:30:22 3742.28125   NaN              NaN
29     2017-05-07 23:30:47 3742.046875   NaN              NaN
...                                ...   ...              ...
1270  2017-05-08 08:21:13 3738.3359375   NaN              NaN
1271  2017-05-08 08:21:39 3739.1953125   NaN              NaN
1272  2017-05-08 08:22:05 3738.8828125   NaN              NaN
1273   2017-05-08 08:22:30 3738.453125   NaN              NaN
1274  2017-05-08 08:22:56 3739.0390625   NaN              NaN
1275  2017-05-08 08:23:22 3738.8828125   NaN              NaN
1276   2017-05-08 08:23:47 3738.609375   NaN              NaN
1277  2017-05-08 08:24:13 3739.4296875   NaN              NaN
1278    2017-05-08 08:24:39 3738.53125   NaN              NaN
1279  2017-05-08 08:25:04 3738.8046875   NaN              NaN
1280      2017-05-08 08:25:30 3738.375   NaN              NaN
1281   2017-05-08 08:25:56 3738.921875   NaN              NaN
1282  2017-05-08 08:26:21 3738.2578125   NaN              NaN
1283   2017-05-08 08:26:47 3739.390625   NaN              NaN
1284  2017-05-08 08:27:12 3738.9609375   NaN              NaN
1285  2017-05-08 08:27:38 3738.8046875   NaN              NaN
1286  2017-05-08 08:28:04 3736.4609375   NaN              NaN
1287  2017-05-08 08:28:29 3737.0078125   NaN              NaN
1288  2017-05-08 08:28:55 3738.1015625   NaN              NaN
1289    2017-05-08 08:29:21 3736.65625   NaN              NaN
1290  2017-05-08 08:29:46 3737.7890625   NaN              NaN
1291      2017-05-08 08:30:12 3737.125   NaN              NaN
1292  2017-05-08 08:30:38 3737.8671875   NaN              NaN
1293   2017-05-08 08:31:03 3737.359375   NaN              NaN
1294  2017-05-08 08:31:29 3737.6328125   NaN              NaN
1295    2017-05-08 08:31:55 3738.21875   NaN              NaN
1296  2017-05-08 08:32:20 3737.7109375   NaN              NaN
1297   2017-05-08 08:32:46 3738.140625   NaN              NaN
1298  2017-05-08 08:33:12 3737.8671875   NaN              NaN
1299  2017-05-08 08:33:37 3738.4921875   NaN              NaN

[1300 rows x 3 columns]

In [6]:


AAPL = pd.read_csv(
        "http://ichart.yahoo.com/table.csv?s=AAPL&a=0&b=1&c=2000&d=0&e=1&f=2010",
        parse_dates=['Date']
    )

output_file("datetime.html")

# create a new plot with a datetime axis type
p = figure(plot_width=900, plot_height=500, x_axis_type="datetime")

p.line(AAPL['Date'], AAPL['Close'], color='navy', alpha=0.5)

show(p)

INFO:bokeh.core.state:Session output file 'datetime.html' already exists, will be overwritten.

In [ ]:
from bokeh.plotting import figure, output_file, show

In [ ]:
x = list(range(10))
print(x)

In [ ]:
y = data
print(y)

In [ ]:
# output to static HTML file
output_file("AirView.html")

# create a new plot with a title and axis labels
p = figure(title="AirView", x_axis_label='Time', y_axis_label='Air Voltage')

# add a line renderer with legend and line thickness
p.line(x, y, legend="A0", line_width=1)

# show the results
show(p)